@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-noto: 'Noto Sans Arabic', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /*--container-8xl: 140rem;*/
  /*--ui-container: var(--container-8xl);*/
  --color-tiber: oklch(25.387% 0.05587 248.75);
  --color-tiber-50: oklch(95.554% 0.01687 242.43);
  --color-tiber-100: oklch(88.126% 0.0464 244.34);
  --color-tiber-200: oklch(73.618% 0.10659 246.28);
  --color-tiber-300: oklch(73.618% 0.10659 246.33);
  --color-tiber-400: oklch(78.247% 0.0868 246.45);
  --color-tiber-500: oklch(25.387% 0.05587 248.75);
  --color-tiber-600: oklch(23.272% 0.04832 247.79);
  --color-tiber-700: oklch(20.752% 0.04234 247.72);
  --color-tiber-800: oklch(18.518% 0.0344 245.68);
  --color-tiber-900: oklch(16.288% 0.02782 244.64);
  --color-tiber-950: oklch(14.849% 0.02404 241.33);

  --color-mountain-meadow: oklch(70.375% 0.12302 182.5);
  --color-mountain-meadow-50: oklch(99.253% 0.00634 197.05);
  --color-mountain-meadow-100: oklch(96.341% 0.03453 187.72);
  --color-mountain-meadow-200: oklch(91.221% 0.08529 186.61);
  --color-mountain-meadow-300: oklch(86.907% 0.12233 185.44);
  --color-mountain-meadow-400: oklch(83.837% 0.14423 182.56);
  --color-mountain-meadow-500: oklch(70.375% 0.12302 182.5);
  --color-mountain-meadow-600: oklch(58.494% 0.1015 182.67);
  --color-mountain-meadow-700: oklch(45.647% 0.07832 182.88);
  --color-mountain-meadow-800: oklch(32.156% 0.0538 183.49);
  --color-mountain-meadow-900: oklch(16.64% 0.02472 190.2);
  --color-mountain-meadow-950: oklch(0% 0 none);
}
